.containerTransfers{
    width: 100%;
    border-bottom: 1px solid rgb(175, 175, 175);
}

.containerInfos{
    margin: 0 16px;
    padding: 8px 0;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.infosPlayer{
    width: 230px;
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infosTransfer{
    height: 38px;
    width: 130px;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infosTitles{
    font-size: 14px;
    color: #373737
}

.infos{
    font-size: 12px;
    color: #22222673;
}

.infoValues{
    display: flex;
    align-items: center;
}

.number{
    font-size: 14px;
    /* color: #c81419 */
    /* color: #0bb32a */
    color: #373737
}