.containerModal{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.containerModalCreateCarrer{
  background-color: rgb(242, 239, 232);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardModalCreateCarrer {
  background-color:#fefefe;
  width: 65%;
  max-width: 400px;
  max-height: 80%;
  padding: 22px;
  box-shadow: 0 4px 12px rgba( 0, 0, 0, 0.08);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  animation: grow 0.8s ease forwards;
  overflow-y: auto;
  z-index: 999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #2b5842;
  font-weight: 500;
  margin: auto;
  overflow: hidden;
  gap: 20px;
}

.containerHeader{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.addClub{
  font-size: 20px;
  font-weight: bold;
}

.closeModalCreateCarrer{
  height: 25px;
  position: absolute;
  right: 0;
  color: rgb(99, 127, 115);
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in-left {
  animation: slide-in-left 0.5s ease forwards;
}

.slide-out-left {
  animation: slide-out-left 0.5s ease forwards;
}


.cardModal{
  background-color: white;
  border-radius: 20px;
  min-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  animation: grow 0.8s ease forwards; 
  z-index: 999;
}

.cardModalNewPlayer{
  background-color: white;
  border-radius: 20px;
  min-width: 95%;
  min-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0 20px;
  animation: grow 0.8s ease forwards; 
  z-index: 999;
}

.cardModalEditCarrer{
  background-color: white;
  border-radius: 20px;
  min-width: 80%;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  animation: grow 0.8s ease forwards; 
}

.cardModalNewSeason{
  background-color: white;
  border-radius: 20px;
  min-width: 80%;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  animation: grow 0.8s ease forwards; 
}


@keyframes grow {
  from {
      transform: scale(0.5);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

.containerCreateCarrer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.allInputsCreateCarrer{
  border: 1px solid #b8dbca;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  padding-left: 25px;
}

.iconForInputsCreateCarrer{
  position: absolute;
  left: 2%;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputsCreateCarrer{
  border: none;
  outline: none;
  border-radius: 12px;
  height: 100%;
  width: 95%;
  color: #2b5842;
  font-weight: bold;
  font-size: 16px;
}

.inputsCreateCarrer::placeholder{
  color: rgba(43, 88, 66, 0.8);
}

.inputsCreateCarrer:-webkit-autofill {
  font-family: inherit !important;
  font-weight: bold !important;
  color: #2b5842 !important;
  -webkit-text-fill-color: #2b5842 !important;
  transition: background-color 9999s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.containerButtons{
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.selects{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.options{
width: 150px;
height: 30px;
text-align: center;
outline: #01CE64;
border-radius: 5px;
color: #01CE64;
border: 1px solid #01CE64;
}

.buttonsPosition{
 border: #01CE64 1px solid;
 min-width: 120px;
 text-align: center;
 align-content: center;
 height: 30px;
 border-radius: 15px;
 color: #01CE64;
 cursor: pointer;
}

.selectedPosition{
  background-color: #01CE64;
  color: white;
}

.delete{
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 26px;
}

.deleteButton{
  width: fit-content;
}

.textDelete{
  display: flex;
}

.wrappeDeletedButtons{
  margin-top: 8%;
  display: flex;
  justify-content: center;
  gap: 15%;
  font-size: 20px;
}

.textButtonDelete{
  display: flex;
  cursor: pointer;
}

#delete{
  color: red;
}

.back{
  margin-right: 5%;
  margin-top: 1%;
}

.danger{
  margin-left: 5%;
  margin-top: 1%;
}

.containerSelectLeague{
  border-top: 1px solid rgb(0, 0, 0);
  height: 510px;
  display: flex;
  flex-direction: column;
}

/* Remove o botão de calendário nativo no Chrome */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}


@media(min-width:600px){
  .cardModal{
    min-width: 60%;
    min-height: fit-content;
  }
  .cardModalNewPlayer{
    min-width: 60%;
    min-height: fit-content;
  }
  .cardModalEditCarrer{
    min-width: 60%;
    min-height: fit-content;
  }
  }
@media(min-width:840px){
  .cardModal{
    min-width: 30%;
  }
  .cardModalNewPlayer{
    min-width: 30%;
  }
  .cardModalEditCarrer{
    min-width: 30%;
  }
}