.containerModal{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.containerModalCreateCarrer{
  background-color: rgb(242, 239, 232);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardModalCreateCarrer {
  background-color:#fefefe;
  width: 65%;
  max-width: 400px;
  max-height: 80%;
  padding: 22px;
  box-shadow: 0 4px 12px rgba( 0, 0, 0, 0.08);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  animation: grow 0.8s ease forwards;
  overflow-y: auto;
  z-index: 999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #2b5842;
  font-weight: 500;
  margin: auto;
  overflow: hidden;
  gap: 20px;
  margin-top: 10%;
  z-index: 2000;
  position: relative;
  }
.cardModalCreateCarrerSell {
  background-color:#fefefe;
  width: 80%;
  max-width: 400px;
  max-height: 80%;
  padding: 22px;
  box-shadow: 0 4px 12px rgba( 0, 0, 0, 0.08);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  animation: grow 0.8s ease forwards;
  overflow-y: auto;
  z-index: 999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #2b5842;
  font-weight: 500;
  margin: auto;
  overflow: hidden;
  gap: 20px;
  margin-top: 10%;
  z-index: 2000;
  position: relative;
}

.containerHeader{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.addClub{
  font-size: 20px;
  font-weight: bold;
}

.closeModalCreateCarrer{
  height: 25px;
  position: absolute;
  right: 0;
  color: rgb(99, 127, 115);
}

.closeModalCreateCarrer1{
  height: 25px;
  color: rgb(99, 127, 115);
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in-left {
  animation: slide-in-left 0.5s ease forwards;
}

.slide-out-left {
  animation: slide-out-left 0.5s ease forwards;
}


.cardModal{
  background-color: white;
  border-radius: 20px;
  min-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  animation: grow 0.8s ease forwards; 
  z-index: 999;
}

.cardModalNewPlayer{
  background-color: white;
  border-radius: 20px;
  min-width: 95%;
  min-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0 20px;
  animation: grow 0.8s ease forwards; 
  z-index: 999;
}

.cardModalEditCarrer{
  background-color: white;
  border-radius: 20px;
  min-width: 80%;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  animation: grow 0.8s ease forwards; 
}

.cardModalNewSeason{
  background-color: white;
  border-radius: 20px;
  min-width: 80%;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  animation: grow 0.8s ease forwards; 
}


@keyframes grow {
  from {
      transform: scale(0.5);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

.containerCreateCarrer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.allInputsCreateCarrer{
  border: 1px solid #b8dbca;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  padding-left: 25px;
}

.allInputsEditCarrer{
 border: 1px solid #b8dbca;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  padding-left: 25px;
}

.cardModalEdit{
  background-color:#fefefe;
  width: 65%;
  max-width: 400px;
  max-height: 80%;
  padding: 22px;
  box-shadow: 0 4px 12px rgba( 0, 0, 0, 0.08);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  animation: grow 0.8s ease forwards;
  overflow-y: auto;
  z-index: 999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #2b5842;
  font-weight: 500;
  margin: auto;
  overflow: hidden;
  gap: 10px;
  margin-bottom: 50%;
}

.iconForInputsCreateCarrer{
  position: absolute;
  left: 2%;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputsCreateCarrer{
  border: none;
  outline: none;
  border-radius: 12px;
  height: 100%;
  width: 95%;
  color: #2b5842;
  font-weight: bold;
  font-size: 16px;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-color: #ffffff !important;
}

.inputsCreateCarrer::placeholder{
  color: rgba(43, 88, 66, 0.8);
}

.inputsCreateCarrer:-webkit-autofill {
  font-family: inherit !important;
  font-weight: bold !important;
  color: #2b5842 !important;
  -webkit-text-fill-color: #2b5842 !important;
  transition: background-color 9999s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.inputsCreateCarrer:focus{
  background-color: #ffffff !important;
}

.inputsCreateCarrer[type="date"] {
  text-align: left !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.allDivCreateCarrer{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 6px;
  align-items: center;
  padding: 0 16px;
  height: 25px;
}

.divCreateCarrer{
  color: #416b59;
  font-weight: bold;
  font-size: 16px;
  background-color: #ffffff !important;
}

.containerButtons{
  display: flex;
  justify-content: space-evenly;
}

.containerButtonsModalBuy{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonsPositionBuy{ 
  color: rgb(82, 163, 131);
  border: 1px solid rgb(37, 102, 72);
  padding: 6px 16px;
  outline: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: transform 0.1s ease;
  min-width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.options{
  width: 150px;
  height: 30px;
  text-align: center;
  outline: none;
  border-radius: 5px;
  background-color: rgb(82, 163, 131);
  color: white;
  border: 1px solid rgb(37, 102, 72);
  font-weight: bold;
}

.teste{
  background-color: white;
  color: black;
}

.buttonsPosition{ 
 color: rgb(82, 163, 131);
 border: 1px solid rgb(37, 102, 72);
 padding: 6px 16px;
 outline: none;
 border-radius: 12px;
 font-size: 16px;
 font-weight: bold;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
 cursor: pointer;
 transition: transform 0.1s ease;
 min-width: 85px;
}

.selectedPosition{
  background-color: rgb(82, 163, 131);
  color: white;
}

.delete{
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 26px;
}

.deleteButton{
  width: fit-content;
}

.textDelete{
  display: flex;
}

.wrappeDeletedButtons{
  margin-top: 8%;
  display: flex;
  justify-content: center;
  gap: 15%;
  font-size: 20px;
}

.textButtonDelete{
  display: flex;
  cursor: pointer;
}

#delete{
  color: red;
}

.back{
  margin-right: 5%;
  margin-top: 1%;
}

.danger{
  margin-left: 5%;
  margin-top: 1%;
}

.containerSelectLeague{
  border-top: 1px solid rgb(0, 0, 0);
  height: 510px;
  display: flex;
  flex-direction: column;
}

/* Remove o botão de calendário nativo no Chrome */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}


.containerButtonBackOrSave{
  display: flex;
  gap: 12px;
}


@media(min-width:600px){
  .cardModal{
    min-width: 60%;
    min-height: fit-content;
  }
  .cardModalNewPlayer{
    min-width: 60%;
    min-height: fit-content;
  }
  .cardModalEditCarrer{
    min-width: 60%;
    min-height: fit-content;
  }
  .cardModalEdit{
    margin-bottom: auto;
  }
  }
@media(min-width:840px){
  .cardModal{
    min-width: 30%;
  }
  .cardModalNewPlayer{
    min-width: 30%;
  }
  .cardModalEditCarrer{
    min-width: 30%;
  }
}