.playerContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    padding: 5px 0 5px 0;
}

.player{
    font-size: 14px;
    margin-left: 10px;
}

.playersStats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
    gap: 5%;
    align-items: flex-end;
    width: 100%;
}


.statsNumber{
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    font-size: 12px;
}

.statsName{
    font-size: 10px;
}

.borderTotal{
    border-bottom: 1px solid black;
}