.infosTitle {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
  min-height: 20px;
  border-bottom: 1px solid rgb(205, 205, 205);
  height: 30px;
  align-items: center;
}

.infosTitle.expanded {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.infosTitleStats {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
  min-height: 34px;
  align-items: center;
  cursor: pointer;
}

.infosTitleStats.expanded {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.infoStats {
  display: flex;
  width: 100%;
}

.containerName {
  display: flex;
  cursor: default;
  align-items: center;
  position: relative;
}

.containerNameClick {
  display: flex;
  align-items: center;
}

.player {
  gap: 5px;
  font-size: 14px;
  width: 150px;
  max-width: 150px;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total {
  gap: 3px;
  font-size: 12px;
  min-width: 150px;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.overall {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white !important;
  width: 35px !important;
  height: 21px !important;
  border-radius: 0.175em !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
}

.overallSmall {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white !important;
  width: 30px !important;
  height: 16px !important;
  border-radius: 0.175em !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  font-size: 12px !important;
}

.statsNumber {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: "EA Font v1.5 by Ghettoshark", sans-serif;
  font-weight: normal;
  justify-content: center;
  width: fit-content;
  position: relative;
}

.explainIcons {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 60px;
  left: 50%;
  transform: translateX(-50%) translateY(0%) scale(0);
  width: 110px;
  min-height: 40px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  background-color: #303030;
  color: white;
  border-radius: 0.5rem;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.explainIcons::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.8em;
  bottom: 3em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background-color: #303030;
  border-bottom-right-radius: 0.175rem;
}

.statsNumber:hover .explainIcons {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(-50%) translateY(-100%) scale(1);
}
.explainIconBallonDor {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 60px;
  left: -220%;
  transform: translateX(-50%) translateY(0%) scale(0);
  width: 110px;
  min-height: 40px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  background-color: #303030;
  color: white;
  border-radius: 0.5rem;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.explainIconBallonDor::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.8em;
  bottom: 3em;
  left: 85%;
  transform: translate(-50%) rotate(45deg);
  background-color: #303030;
  border-bottom-right-radius: 0.175rem;
}

.statsNumber:hover .explainIconBallonDor {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(-50%) translateY(-100%) scale(1);
}

.statsNumberSmall {
  font-size: 12px;
}

.seasonsInClub {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 40px;
}

.statsName {
  font-size: 10px;
}

.borderTotal {
  border-bottom: 1px solid rgb(155, 155, 155);
}

.borderTotal:last-of-type {
  border-bottom: none;
}

.arrowIcon {
  font-size: 10px;
}

.wrapperStatsLeagues {
  border-top: 1px solid rgb(205, 205, 205);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
  min-height: 18px;
  align-items: center;
}

.containerIMGleagues {
  display: flex;
  font-size: 10px;
  font-family: "EA Font v1.5 by Ghettoshark", sans-serif;
  font-weight: normal;
  min-width: 150px;
}

.containerNameLeague {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  min-width: 120px;
}

.leagues {
  width: 15px;
}

.wrapperNewStatsLeagues {
  border-top: 1px solid rgb(205, 205, 205);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.addStats {
  gap: 5px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textNewLeague {
  font-size: 12px;
  height: 12px;
}

.close {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
